.header {
    margin-bottom: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: .5rem;
}

.nav-links a {
    text-decoration: none;
  }

a:hover {
    color: darkorchid;
  }